.navbar{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background: #c98d49;
}

.link,
.brand{
    text-decoration: none;
    color: #fff;
    transition:  0.3s;
}
.link:hover,
.brand:hover{
    text-decoration: none;
    color: #ada4a4;
}

.link{
    margin-left: 20px;
}

.navbar button{
    border: none;
    margin-left: 10px;
    border-radius: 10px;
    font-size: 13px;
    text-align: center;
    background: rgb(238, 161, 17);
    color: #fff;
}